In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('PHL_Building_Dataset_Recommendation_Mini.csv')
df = df[:30000]
df

,basements,central_air,exterior_condition,fireplaces,garage_type,interior_condition,market_value,number_of_rooms,number_stories,parcel_shape,street_designation,topography,total_area,total_livable_area,type_heater,view_type,building_description,section
0,0,Y,4.0,0.0,A,4.0,257500.0,6.0,2.0,E,ST,6,2625.30,1266.0,H,I,MASONRY,South
1,0,Y,4.0,0.0,A,4.0,249400.0,6.0,2.0,E,ST,6,1622.70,1266.0,A,I,MASONRY,South
2,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1624.50,1266.0,A,I,MASONRY,South
3,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1627.20,1266.0,H,I,MASONRY,South
4,0,Y,4.0,0.0,A,4.0,253800.0,6.0,2.0,E,ST,6,1683.90,1310.0,H,I,MASONRY,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44479,D,N,4.0,0.0,0,4.0,117500.0,6.0,3.0,A,ST,6,1651.00,2907.0,H,I,MASONRY,North
44480,D,Y,3.0,0.0,0,3.0,70800.0,9.0,3.0,A,ST,6,1811.00,2026.0,A,I,MASONRY,South
44481,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,A,ST,6,1604.00,2082.0,A,I,MASONRY,South
44482,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,E,ST,6,1440.00,1387.0,A,I,MASONRY,South
44483,A,Y,3.0,0.0,B,3.0,600000.0,8.0,2.0,A,AVE,6,8457.99,2851.0,A,I,MASONRY+OTHER,North West

In [3]:
baru = [{'basements' : 'D', 'central_air' : 'Y', 'exterior_condition' : 3,
        'fireplaces' : 2, 'garage_type' : 'A', 'interior_condition' : 3,
        'market_value' : 300000, 'number_of_rooms' : 10, 'number_stories' : 2, 
        'parcel_shape' : 'E', 'street_designation' : 'ST', 'topography' : 6, 
        'total_area' : 2000, 'total_livable_area' : 1500, 'type_heater' : 'A', 
        'view_type' : 'I', 'building_description' : 'MASONRY', 'section' : 'South'}]
new = pd.DataFrame(baru)
df.append(new, ignore_index=True)

,basements,central_air,exterior_condition,fireplaces,garage_type,interior_condition,market_value,number_of_rooms,number_stories,parcel_shape,street_designation,topography,total_area,total_livable_area,type_heater,view_type,building_description,section
0,0,Y,4.0,0.0,A,4.0,257500.0,6.0,2.0,E,ST,6,2625.30,1266.0,H,I,MASONRY,South
1,0,Y,4.0,0.0,A,4.0,249400.0,6.0,2.0,E,ST,6,1622.70,1266.0,A,I,MASONRY,South
2,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1624.50,1266.0,A,I,MASONRY,South
3,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1627.20,1266.0,H,I,MASONRY,South
4,0,Y,4.0,0.0,A,4.0,253800.0,6.0,2.0,E,ST,6,1683.90,1310.0,H,I,MASONRY,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44480,D,Y,3.0,0.0,0,3.0,70800.0,9.0,3.0,A,ST,6,1811.00,2026.0,A,I,MASONRY,South
44481,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,A,ST,6,1604.00,2082.0,A,I,MASONRY,South
44482,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,E,ST,6,1440.00,1387.0,A,I,MASONRY,South
44483,A,Y,3.0,0.0,B,3.0,600000.0,8.0,2.0,A,AVE,6,8457.99,2851.0,A,I,MASONRY+OTHER,North West
44484,D,Y,3.0,2.0,A,3.0,300000.0,10.0,2.0,E,ST,6,2000.00,1500.0,A,I,MASONRY,South

In [4]:
features = ["market_value", "section", "building_description", "total_area", "total_livable_area"]

In [5]:
df.columns

Index(['basements', 'central_air', 'exterior_condition', 'fireplaces',
       'garage_type', 'interior_condition', 'market_value', 'number_of_rooms',
       'number_stories', 'parcel_shape', 'street_designation', 'topography',
       'total_area', 'total_livable_area', 'type_heater', 'view_type',
       'building_description', 'section'],
      dtype='object')

In [6]:
for i in df.columns:
    df[i] = df[i].astype('str')

In [7]:
def combo(x):
    return x["market_value"] + " " + x["section"] + " " + x["building_description"] + " " + x["total_area"] + " " + x["total_livable_area"]

In [8]:
df['combo_features'] = df.apply(combo, axis=1)

In [9]:
df

,basements,central_air,exterior_condition,fireplaces,garage_type,interior_condition,market_value,number_of_rooms,number_stories,parcel_shape,street_designation,topography,total_area,total_livable_area,type_heater,view_type,building_description,section,combo_features
0,0,Y,4.0,0.0,A,4.0,257500.0,6.0,2.0,E,ST,6,2625.3,1266.0,H,I,MASONRY,South,257500.0 South MASONRY 2625.3 1266.0
1,0,Y,4.0,0.0,A,4.0,249400.0,6.0,2.0,E,ST,6,1622.7,1266.0,A,I,MASONRY,South,249400.0 South MASONRY 1622.7 1266.0
2,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1624.5,1266.0,A,I,MASONRY,South,249500.0 South MASONRY 1624.5 1266.0
3,0,Y,4.0,0.0,A,4.0,249500.0,6.0,2.0,E,ST,6,1627.2,1266.0,H,I,MASONRY,South,249500.0 South MASONRY 1627.2 1266.0
4,0,Y,4.0,0.0,A,4.0,253800.0,6.0,2.0,E,ST,6,1683.9,1310.0,H,I,MASONRY,South,253800.0 South MASONRY 1683.9 1310.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44479,D,N,4.0,0.0,0,4.0,117500.0,6.0,3.0,A,ST,6,1651.0,2907.0,H,I,MASONRY,North,117500.0 North MASONRY 1651.0 2907.0
44480,D,Y,3.0,0.0,0,3.0,70800.0,9.0,3.0,A,ST,6,1811.0,2026.0,A,I,MASONRY,South,70800.0 South MASONRY 1811.0 2026.0
44481,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,A,ST,6,1604.0,2082.0,A,I,MASONRY,South,23600.0 South MASONRY 1604.0 2082.0
44482,D,Y,3.0,0.0,0,3.0,23600.0,6.0,3.0,E,ST,6,1440.0,1387.0,A,I,MASONRY,South,23600.0 South MASONRY 1440.0 1387.0
44483,A,Y,3.0,0.0,B,3.0,600000.0,8.0,2.0,A,AVE,6,8457.99,2851.0,A,I,MASONRY+OTHER,North West,600000.0 North West MASONRY+OTHER 8457.99 2851.0

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
CV = CountVectorizer()

In [14]:
property_matrix = CV.fit_transform(df['combo_features'])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
cos_score = cosine_similarity(property_matrix)

MemoryError: Unable to allocate 14.6 GiB for an array with shape (1960062890,) and data type float64

In [ ]:
- AVE - Avenue (Kaya boulevard tapi pohonnya lebih dikit)
- BLV - Boulevard (Jalanan lebar dan dikelilingi pohon lebat)
- CIR - Circle (Bunderan)
- CT  - Court (Tipe jalanan yang ujungnya jadi intersection/per4)
- DR  - Drive (Jalanan yang berkelok-kelok dan terbentuk secara natural contohnya seperti dipergunungan dan danau)
- LA  - Lane (Jalanan sempit dan biasanya di kampung / countryside)
- MEW - Mews (Jalanan kecil yang dikeliling rumah, jaman dulu Bekas kandang kuda) 
- PK  - Park (Taman)
- PKY - Parkway (Jalanan yang berada di taman atau terhubung ke taman biasanya dipakai untuk kendaraan kecil)
- PL  - Place (Jalanan yang tidak nyambung ke jalanan utama / jalanan buntu)
- PLZ - Plaza (Area terbuka untuk santai-santai)
- RD  - Road (Seluruh Jalanan)
- ROW - Roadway (Jalanan yang cuma bisa kendaraan, bahu jalan tidak termasuk)
- SQ  - Square (Mirip sama Plaza untuk Commercial)
- ST  - Street (Jalanan disamping-sampingnya kelilingi gedung kaya diperkotaan)
- TER - Terrace (Jalanan mendaki ke atas / jalana

In [ ]:
df2['garage_type'] = df2['garage_type'].replace({'0' : 'None', 'A' : 'Basement / Built-In','B' : 'Attached Garage',
                                                 'C' : 'Detached Garage', 'F' : 'Converted',
                                                 'S' : 'Self Park', 'T' : 'Attendant'})

df2['interior_condition'] = df2['interior_condition'].replace({'0' : 'Not Applicable', '2' : 'New',
                                                               '3' : 'Above Average', '4' : 'Average',
                                                               '5' : 'Below Average', '6' : 'Vacant', '7' : 'Sealed'})

df2['parcel_shape'] = df2['parcel_shape'].replace({'A' : 'Irregular', 'B' : 'Grossly Irregular',
                                                   'C' : 'Triangular', 'D' : 'Right of way', 'E' : 'Rectangular'})

df2['street_designation'] = df2['interior_condition'].replace({'AVE' : 'Avenue', 'BLV' : 'Boulevard', 'CIR' : 'Circle',
                                                               'CT ' : 'Court', 'DR ' : 'Drive', 'LA ' : 'Lane',
                                                               'MEW' : 'Mews', 'PK ' : 'Park', 'PKY' : 'Parkway',
                                                               'PL ' : 'Place', 'PLZ' : 'Plaza', 'RD ' : 'Road',
                                                               'ROW' : 'Roadway', 'SQ ' : 'Square', 'ST ' : 'Street', 'TER' : 'Terrace'})